#about{
    display: none;
    min-width: 1297px;
}
#container{
display: none;
background: #f6f1f1;
padding: 53px;
min-height: 608px;
    min-width: 1300px;
}
#container > ul{
    max-height: 339px;
    overflow-y: auto;
}
#container > ul li{
    float: left;
    padding: 9px;
}
#container> ul li img{
    width: 150px;
    height: 150px;
}
#container > ul li span{
    top: -59px;
    margin-left: -20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
    display: none;
}
#Basedisplay{
    display: none;
    background: #f6f1f1;
    padding: 53px;
    min-height: 608px;
    min-width: 1300px;
}
#Basedisplay > ul{
    max-height: 339px;
    overflow-y: auto;
}
#Basedisplay > ul li{
    float: left;
    padding: 9px;
}
#Basedisplay > ul li img{
    width: 150px;
    height: 150px;
}
#Basedisplay > ul li span{
    display: none;
    top: -59px;
    margin-left: -20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
}
#Frog_seedling{
    display: none;
    background: #f6f1f1;
    padding:39px 48px;
    min-height: 608px;
    min-width: 1295px;
}
#Frog_seedling > ul{
    max-height: 339px;
    overflow-y: auto;
}
#Frog_seedling > ul li{
    float: left;
    padding: 9px;
}
#Frog_seedling> ul li img{
    width: 150px;
    height: 150px;
}
#Frog_seedling > ul li span{
    display: none;
    top: -59px;
    margin-left: -20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
}
#AdultFrog{
    display: none;
    background: #f6f1f1;
    padding:39px 53px;
    min-height: 608px;
    min-width: 1295px;
}
#AdultFrog > ul{
    max-height: 339px;
    overflow-y: auto;
}
#AdultFrog > ul li{
    float: left;
    padding: 9px;
}
#AdultFrog> ul li img{
    width: 150px;
    height: 150px;
}
#AdultFrog > ul li span{
    display: none;
    top: -59px;
    margin-left: -20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
}

#Frog{
    display: none;
    background: #f6f1f1;
    padding:39px 53px;
    min-height: 608px;
    min-width: 1295px;
}
#Frog > ul{
    max-height: 339px;
    overflow-y: auto;
}
#Frog > ul li{
    float: left;
    padding: 9px;
}
#Frog> ul li img{
    width: 150px;
    height: 150px;
}
#Frog > ul li span{
    display: none;
    top: -59px;
    margin-left: -20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
}
#CompanyDynamics{
    display: none;
    background: #f6f1f1;
    padding: 53px;
    min-height: 608px;
    min-width: 1289px;
}
#CompanyDynamics > ul{
    min-width: 1022px;
    max-height: 400px;
    overflow-y: auto;
}
#CompanyDynamics >ul >li
{

    list-style: none;

    line-height: 42px;

    border-bottom: solid 1px #b0a2a2;

    border-bottom-style: dashed;
}
#CompanyDynamics >ul >li:hover{
    color:red;
}
#CompanyDynamics>ul >li input
{
    font-size: 10px;
}
#CompanyDynamics >ul >li input:nth-last-child(2)
{margin-left:665px;
}
#CompanyDynamics >ul >li >span{
    cursor: pointer;
    margin-left: 13px;
    width: 396px;
    display: -moz-deck;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.layui-layout-right{
    left: 1123px;
}
#CompanyDynamics > p{
    margin-top: 9px;
    min-width: 1022px;
}
#CompanyDynamics >p >label:nth-child(n+2){
    margin-left: 40px;
}
#CompanyDynamics >p >label{
    margin-right: 10px;
}
#CompanyDynamics >p input#btn5{
    width: 182px;
    display: inline-block;
    height: 33px;
}
#CompanyDynamics >p input#btn6{
    margin-left: 0px;
    height: 32px;
    margin-top: 2px;
}
#CompanyDynamics >p span:last-child{
    color: #22d14d;
    font-size: 21px;
    top: 6px;
}
#CompanyDynamics >p span:last-child:hover {
color:red;
}

#CompanyDynamics_content{
    display: none;
    min-width: 1297px;
}
#CompanyDynamics_content >h1{
    text-align: center;
}



#CommonProblem{
    display: none;
    background: #f6f1f1;
    padding: 53px;
    min-height: 608px;
    min-width: 1289px;
}
#CommonProblem > ul{
    min-width: 1022px;
    max-height: 400px;
    overflow-y: auto;
}
#CommonProblem >ul >li
{

    list-style: none;

    line-height: 42px;

    border-bottom: solid 1px #b0a2a2;

    border-bottom-style: dashed;
}
#CommonProblem >ul >li:hover{
    color:red;
}
#CommonProblem>ul >li input
{
    font-size: 10px;
}
#CommonProblem >ul >li input:nth-last-child(2)
{margin-left:665px;
}
#CommonProblem >ul >li >span{
    cursor: pointer;
    margin-left: 13px;
    width: 396px;
    display: -moz-deck;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

#CommonProblem > p{
    margin-top: 9px;
    min-width: 1022px;
}
#CommonProblem >p >label:nth-child(n+2){
    margin-left: 40px;
}
#CommonProblem >p >label{
    margin-right: 10px;
}
#CommonProblem >p input#btn51{
    width: 182px;
    display: inline-block;
    height: 33px;
}
#CommonProblem >p input#btn61{
    margin-left: 0px;
    height: 32px;
    margin-top: 2px;
}
#CommonProblem >p span:last-child{
    color: #22d14d;
    font-size: 21px;
    top: 6px;
}
#CommonProblem >p span:last-child:hover {
    color:red;
}

#CommonProblem_content{
    display: none;
    min-width: 1297px;
}
#CommonProblem_content >h1{
    text-align: center;
}

#contact{
    padding: 7% 18%;
    display: none;
}

#distpicker >select{
    width: 149px;
    float: left;
    text-align: center;
    padding: 5px;
}
#Detailed_address{
    top: 10px;
    position: inherit;
}
#CustomerInstance{
    display: none;
    margin-left: 116px;
    margin-right: 116px;
    margin-top: -19px;
    min-width: 1074px;
}

#CustomerInstance .customer {
    border-bottom: 2px solid #bc9c9c;
    display: flex;
}

#CustomerInstance .customer_img {
    width: 150px;
    height: 150px;
}
#CustomerInstance .customer >div:nth-child(2) >div:first-child >span{
    font-size: 13px;
    font-weight: initial;
    margin-left: 20px;
}

#page_skip {
    float: left;
    margin: 25px auto;
}

#input_page:focus {
    border: solid 1px blue;
}
#CustomerEvaluation{
    display: none;
    margin-left: 116px;
    margin-right: 116px;
    margin-top: -19px;
    min-width: 1089px;
}
#CustomerEvaluation .customer{
    border-bottom: 2px solid #bc9c9c;
    display: flex;
}
#CustomerEvaluation .customer_img {
    width: 150px;
    height: 150px;
}
#CustomerEvaluation .customer >button{
    white-space: initial;

    width: 53px;
    font-size: 17px;
}
#CustomerEvaluation .customer >div:nth-child(2) >div:first-child >span{
    font-size: 13px;
    font-weight: initial;
    margin-left: 20px;
}
#page_skip1 {
    float: left;
    margin: 25px auto;
}

#input_page1:focus {
    border: solid 1px blue;
}
#ProductCenter{
    display: none;
    min-width: 1297px;
}
#ProductCenter h1{
    text-align: center;
 }

#Customerservice_account_management{
    display: none;
    padding: 67px 258px;
}
#Customerservice_account_management table caption,th,td{
    cursor: pointer;
    text-align: center;

}
#Customerservice_account_management input{
    display: none;
    margin-bottom: 0px;
}
#Customerservice_account_management td:nth-child(-n+3){
    padding: 0;
    line-height: 36px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width:255px;
}

#index_video{
    display: none;
    padding: 1px 0px;
    min-width: 1266px;
}
#index_video >ul:first-child{
    max-height: 616px;
    overflow-y: auto;
}
#index_video >ul:first-child >li{
    width: 414px;
    height: 304px;
    padding: 24px 29px;
    float: left;
}
/*#index_video >ul:first-child >li >video{*/
    /*display: block;*/
/*width: 100%;*/
/*height: 100%;*/
/*object-fit: fill;*/
/*}*/

/*视频播放*/
#index_video .glyphicon{
    display: none;
    background-color: #fff;
    color: red;
    font-size: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#index_video >ul >li:hover .glyphicon{
    display: block;
}
#index_video .glyphicon:hover{
    display: block;
}
[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
}

/*********************
 * Background
 *********************/


/*********************
 * Wrapper
 *********************/
#index_video >ul:first-child >li .js-video {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/*********************
 * Elements inside js-video
 *********************/
#index_video >ul:first-child >li video {
    width: 341px;
    max-height: 191px;
    background-size: cover;
    background-position: center center;
}

#index_video >ul:first-child >li .js-video button {
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*********************
 * UI
 *********************/
#index_video >ul:first-child >li  .playPause.ui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    display: block;
    width: auto;
    bottom: 56px;
}
#index_video >ul:first-child >li  .playPause.ui-icon:before, .playPause.ui-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
}
#index_video >ul:first-child >li  .playPause.ui-icon:after {
    content: '';
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
#index_video >ul:first-child >li .playPause.ui-icon:before {
    font-size: 40px;
    line-height: 80px;
    color: rgba(244, 209, 126, 0.5);
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -14px;
}
#index_video >ul:first-child >li  .playPause.ui-icon.fa-pause:before, .playPause.ui-icon.fa-undo:before {
    margin-left: -17px;
}
#index_video >ul:first-child >li .playPause.ui-icon.fa-pause {
    opacity: 0;
}

#index_video >ul:first-child >li .ui {
    padding: 10px 1vw;
    font-size: 0;
    display: -webkit-flex;
    display: flex;
}
#index_video >ul:first-child >li .ui > div:nth-of-type(1), .ui > div:nth-of-type(4) {
    padding-top: 8px;
}
#index_video >ul:first-child >li .ui > div:nth-of-type(1) {
    -webkit-flex: 30 30 1px;
    flex: 30 30 1px;
    margin-right: 10px;
}
#index_video >ul:first-child >li .ui > div:nth-of-type(2) {
    -webkit-flex: 1 0 60px;
    flex: 1 0 60px;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
}
#index_video >ul:first-child >li .ui > div:nth-of-type(3) {
    -webkit-flex: 0 0 20px;
    flex: 0 0 20px;
    margin-right: 10px;
}
#index_video >ul:first-child >li .ui > div:nth-of-type(4) {
    -webkit-flex: 0 0 60px;
    flex: 0 0 60px;
}

#index_video >ul:first-child >li .timeDisplay {
    white-space: nowrap;
}
#index_video >ul:first-child >li .timeDisplay i {
    font-style: normal;
}

#index_video >ul:first-child >li .fullscreen {
    background: none;
    position: absolute;
    font-style: normal;
    left: 318px;
    top: 171px;
    bottom: 66px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
#index_video >ul:first-child >li .fullscreen:before {
    font-size: 30px;
    line-height: 40px;
    color: rgb(163, 90, 150);
}
#index_video >ul:first-child >li .fullscreen:hover:before {
    color: rgba(244, 209, 126, 0.5);
}

#index_video >ul:first-child >li .ui-icon {
    font-size: 20px;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

/*********************
 * Progress
 *********************/
#index_video >ul:first-child >li .progress, .volumeControl {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    height: 5px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    border: 0;
}

#index_video >ul:first-child >li .progress > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#index_video >ul:first-child >li .progress-time {
    background-color: black;
}

#index_video >ul:first-child >li .anim {
    -moz-transition: width 1000ms linear;
    -o-transition: width 1000ms linear;
    -webkit-transition: width 1000ms linear;
    transition: width 1000ms linear;
}

#index_video >ul:first-child >li .progress-buffer {
    background-color: rgba(0, 0, 0, 0.3);
    -moz-transition: width 250ms linear;
    -o-transition: width 250ms linear;
    -webkit-transition: width 250ms linear;
    transition: width 250ms linear;
}

#index_video >ul:first-child >li .volumeControl {
    width: 90%;
    overflow: visible;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}
#index_video >ul:first-child >li .volumeControl .ui-slider-handle {
    position: absolute;
    width: 9px;
    height: 9px;
    border: 0;
    top: -2px;
    background: transparent;
}
#index_video >ul:first-child >li .volumeControl .ui-slider-handle:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50%;
    background: black;
    border-radius: 4px;
}
#index_video >ul:first-child >li .volumeControl .ui-slider-handle:focus {
    outline: none;
}
